@font-face {
    font-family: starwars;
    src: url(../fonts/star_jedi/starjout/Starjout.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
    padding: 5rem;
}
section {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
div:nth-of-type(1) {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    perspective: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
div:nth-of-type(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0));
}
span {
    font-size: 4rem;
    font-family: starwars;
}
p {
    position: absolute;
    text-align: center;
    width: 40%;
    font-size: 1rem;
    top: 260px;
    color: gold;
    font-family: sans-serif;
    line-height: 2rem;
    transform: rotateX(45deg);
    transition: top 20s;    
}
section:hover p {
    top: -750px;
}